@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Chewy&family=DynaPuff&family=Roboto:wght@300&display=swap');

body {
  background-color: #F9F2ED;
  margin: 0;
  height: 90vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background-color: #F87474;
  color: #F9F2ED;
  padding: 1vh;
  filter: drop-shadow(0 0 0.25rem #171717);
  height: 9vh;
  z-index: 10;
}

.logo,
.cart {
  height: 6vh;
  margin: 0;
}

.cart {
  filter: invert(1);
  background-color: black;
  border-radius: 100%;
}

.cart:hover {
  filter: invert(0);
  cursor: pointer;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo:hover {
  cursor: pointer;
  filter: blur(1px);
}

.nav,
.rightText {
  display: flex;
  align-items: center;
}

.nav:hover,
.rightText:hover,
.middleText:hover {
  cursor: pointer;
}

.nav {
  gap: 2vw;
  text-decoration: underline;
  font-size: 1.5rem;
}

.homeLink:hover {
  color: #d7d7d7;
}

.buttons {
  display: flex;
  align-items: center;
}

.middleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DynaPuff', cursive;
  font-size: 0.5rem;
}

.middleText>h1 {
  margin: 0;
}

.slogan {
  color: #FFB562;
  font-family: 'Bungee Shade', cursive;
  font-size: 5rem;
  margin-bottom: 5px;
}

.text1 {
  color: #F87474;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin-top: 5px
}

.home {
  display: flex;
  gap: 3vw;
  height: 90vh;
}

.bodyPic {
  position: sticky;
  height: 90vh;
  width: 60vh;
  border-right: solid 0.2vw #FFB562;
  z-index: -10;
}

.bodyText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120vh;
}

.storeButton {
  width: 15vw;
  height: 10vh;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  letter-spacing: 0.1vw;
  color: #1F1D28;
  background-color: #3AB0FF;
  border: solid 0.2vw #1F1D28;
  border-radius: 15px;
  margin-bottom: 40vh;
}

.storeButton:hover {
  cursor: pointer;
  background-color: #424242;
  border: solid 0.2vw #000000;
}

a {
  color: white;
  text-decoration: none;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  width: 100vw;
}

.blackDice,
.blueDice {
  display: flex;
  justify-content: space-around;
  gap: 5vw;
}

.card {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3vw solid #3AB0FF;
  border-radius: 15px;
  background-color: white;
  color: white;
  padding: 1vw;
}

.cardInfo {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 1.5rem;
  color: #3AB0FF;
  padding: 1vw;
}

.shoppingCart {
  flex-shrink: 0;
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  right: 0;
  top: 0;
  border-left: solid 0.5vw #F87474;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffb6624a;
  top: 9vh;
  position: sticky;
  backdrop-filter: blur(50px);
  transition: width 1s;
}

.shoppingCart:hover {
  width: 100vw;
  backdrop-filter: blur(100px);
}

.exitIcon {
  width: 2vw;
  filter: invert(100);
}

.exitIcon:hover {
  cursor: pointer;
  filter: invert(1);
}

.shoppingItem {
  display: flex;
  justify-content: space-between;
}

.product {
  height: 200px;
}

.checkoutItem {
  color: black;
  font-family: 'Roboto', cursive;
  font-size: 1.5rem;
  border-bottom: solid 0.2vw #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  align-items: center;
  text-align: center;
}

.checkoutButton {
  margin-top: 5vh;
  width: 15vw;
  height: 10vh;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  letter-spacing: 0.1vw;
  color: #1F1D28;
  background-color: #3AB0FF;
  border: solid 0.2vw #1F1D28;
  border-radius: 15px;
}

.checkoutButton:hover {
  cursor: pointer;
  background-color: #424242;
  border: solid 0.2vw #000000;
}

.checkoutTitle {
  font-family: 'Bebas Neue', cursive;
}

.checkoutPage {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.body {
  display: flex;
}

.price {
  text-align: center;
}